.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 90%;
    padding: 15px 5%;
    margin: 0px auto;

    @include themed() {
        color: t(main-color);
        background-color: t(bg);
    }
}

.theme-checkbox {
    display: none;
}