@import '../abstract/variables.scss';

.app__container {
    @include themed() {
        background-color: t(bg);
    }
}

.content {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0px 5% 25px;
    transition: all ease-in-out 0.2s;

    @include themed() {
        background-color: t(bg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 30px 50px;
    transition: all ease-in-out 0.2s;

    @include themed() {
        color: t(txt-secondary);
        background-color: t(card-bg);
    }

    ::-webkit-scrollbar {
        height: 15px;

        @include themed() {
            background-color: t(card-bg);
        }
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;

        @include themed() {
            background-color: t(border);
        }
    }

    ::-webkit-scrollbar-thumb:hover {
        @include themed() {
            background-color: t(scrollbar-hover);
        }
    }

    a {
        text-decoration: none;

        @include themed() {
            color: t(txt-secondary);
        }
    }

    a:hover {
        @include themed() {
            color: t(main-color);
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .input-container {
            display: flex;
            flex-direction: row;
            gap: 25px;
            width: 100%;

            label {
                display: block;
                margin-top: 1rem;
                margin-bottom: 10px;
            }

            .personal-information {
                width: 100%;
            }

            fieldset {
                border-radius: 4px;

                @include themed() {
                    border: 2px solid t(border)
                }
            }

            .address {
                width: 100%;
                margin-top: 10px;
                padding: 20px 50px;
            }

            /** Border highlight for Select button when focused */
            .css-6oa5fu-control {
                @include themed() {
                    box-shadow: 0 0 0 1px t(main-color) !important;
                }
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                cursor: pointer;
                display: none;
            }
        }

        .save-container {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .save-button {
                border: none;
                border-radius: 10px;
                padding: 10px 20px;
                width: 150px;
                font-size: 1rem;
                font-weight: 700;
                cursor: pointer;
                transition: all ease-in-out 0.2s;

                @include themed() {
                    color: t(bg);
                    background-color: t(main-color);
                }
            }

            .save-button:hover {
                @include themed() {
                    box-shadow: 0 0 0 2px t(secondary-color);
                }
            }

            .error__message {
                @include themed() {
                    color: t(error);
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .content {
        height: unset;
    }

    a {
        text-align: right;
    }

    form .input-container {
        flex-direction: column !important;
    }

    .address {
        padding: 20px 20px !important;
    }
}