@font-face {
    font-family: 'Raleway';
    src: url('/src/ui/assets/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/ui/assets/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}